<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ashesha.V3Care">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SideNavAllJobs.ViewCancelledActivity"></activity>
        <activity android:name=".SideNavAllJobs.ViewInvoiceActivity" />
        <activity android:name=".SideNavAllJobs.PaymentPendingJobsActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dashboard.NavDashboardActivity"
            android:label="@string/title_activity_nav_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".SideNavAllJobs.OpenJobsActivity" />
        <activity android:name=".SideNavAllJobs.ClosedJobsActivity" />
        <activity android:name=".Profile.ProfileActivity" />
        <activity android:name=".SideNavAllJobs.CancelledJobActivity" />
        <activity android:name=".SideNavAllJobs.PendingJobsActivity" />
        <activity android:name=".SideNavAllJobs.AllEmployeesActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Logins.MainLoginsActivity" />
        <activity android:name=".Dashboard.AdminteamActivity" />
        <activity android:name=".Invoice.InvoiceActivity" />
        <activity android:name=".Sms.SmsActivity" />
        <activity android:name=".CancelReason.CancelReasonActivity" />
        <activity android:name=".SideNavAllJobs.AssignjobsActivity" />
    </application>

</manifest>